.container{
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: white;
    padding: 40px;
    margin: 150px 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    margin: 20px;
}

.card{
    background-color: aliceblue;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 2px solid #007bff;
}
