.container {
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}

.box {
    width: 60px;
    height: 60px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
}