*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 20px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navlink{
    list-style: none;
    display: flex;
}

.navlink li{
    margin: 0 15px;
}

.navlink a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.actions a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*mobile phone*/
@media (max-width: 780px){
    .navlink{
        display: none;
    }

    .actions a{
        font-size: .9rem;
    }
}

/*tablet*/
@media (min-width: 769px) and (ma-width:1024px){
    .navlink a{
        font-size: .9rem;
    }
}

/*desktop*/
@media (min-width: 1025px){
    .navlink a{
        font-size: 1rem;
    }
}