*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

h1{
    text-align: center;
    padding: 20px;
    color: #333;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.product-card{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 35px 15px 35px;
    text-align: center;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.product-card h3{
    margin: 15px 0 10px;
    font-size: 20px;
    color: #333;
}

.product-card p{
    font-size: 14px;
    color: #666;
}

.price{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0;
    padding: 15px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 15px;
}