body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 20px;   
}

 h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.product-box{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 12px;
}
