body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 100px 0;
    text-align: center;
}

.heading {
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
}
